<!DOCTYPE html>
<html>
  <head>
    <title>Edit Teachers</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">School time table</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/timetable"
                >timetable</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/teachers">Teachers</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="mt-5">SUBJECT TEACHERS</h1>
      <form id="teachersForm" action="/save-teachers" method="POST" novalidate>
        <div class="form-group">
          <label for="Language">Language</label>
          <input
            type="text"
            id="language"
            name="language"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a teacher's name for Math.
          </div>
        </div>

        <div class="form-group">
          <label for="scienceTeacher">Sciences</label>
          <input
            type="text"
            id="science"
            name="science"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a teacher's name for Science.
          </div>
        </div>

        <div class="form-group">
          <label for="Arts">Arts</label>
          <input
            type="text"
            id="arts"
            name="arts"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a teacher's name for History.
          </div>
        </div>
        <div class="form-group">
          <label for="englishTeacher">sports</label>
          <input
            type="text"
            id="sports"
            name="sports"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
            Please provide a teacher's name for English.
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Save Teachers</button>
      </form>
      <a href="/" class="btn btn-secondary mt-3">Home</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      // Client-side validation
      (function () {
        "use strict";
        window.addEventListener(
          "load",
          function () {
            var form = document.getElementById("teachersForm");
            form.addEventListener(
              "submit",
              function (event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add("was-validated");
              },
              false
            );
          },
          false
        );
      })();
    </script>
  </body>
</html>
